.homepage{
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;

    h1{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}


.content{
    margin-bottom: 3rem;
    font-family: Inter, sans-serif;
    text-align: justify;
    font-weight: 400;
    line-height: 1.5rem;

}

.allCoins{
    padding-bottom: 2rem;

    table{
        width: 100%;

        th, td{
            padding: 0.75rem 1rem;
            border-bottom: 1px solid var(--gray-100);
        }

        th{
            color: var(--gray-200);
            text-transform: uppercase;
            font: 500 0.75rem Lexend, sans-serif;
            text-align: left;

        }

        td{
            font-size: 0.875rem;
            padding-bottom: 1.5rem;
            
            a{
                color: var(--gray-800);
                font-family: Lexend, sans-serif;
                font-weight: 600;
                text-decoration: none;
                
                &:hover{
                    text-decoration: underline;
                }

            }
        }
    }
}